<%- include ("partials/head.ejs") %>

<%- include ("partials/navbar.ejs") %>

	<h1 class="homepageheader">Home Page</h1>
	<img class="greatestimage"
		 src="/images/greatestmovies.jpg" alt="movie poster" />
	<div class="homepagecontent">
		<p>For this test, I went out to the following URL:</p>
		<p>https://www.imdb.com/list/ls024149810/</p>
		<p>This site claims to have the 25 best movies of all time</p>
		<p>From here, I made a DB with the following fields:</p>
		<p>Title, Year Made, Running Time, Category, Rating</p>
	</div>

<%- include ("partials/foot.ejs") %>